@charset "UTF-8";

// 色
$c-main:#1a1a1a;
$red:#e71a25;
$red2:#d5c1b9;


$sans:"Noto Sans JP";
$roboto:"Roboto";
$roboto2:'Roboto Condensed';
$mincho:"fot-tsukuaoldmin-pr6n";

// ブレークポイント
$breakpoints: (
	"sp-down": "(max-width: 767px)",
	"sp-up": "(min-width: 768px)",
	"tab-down": "(max-width: 1024px)",
	"tab-up": "(min-width: 1025px)",
	"note-down": "(max-width: 1280px)",
	"note-up": "(min-width: 1281px)",
	"wide" : "(min-width: 1440px)"

);

// メディアクエリー
@mixin mq($breakpoint: sp) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$baseWidth : 1440;
 	@function vw($pixelsVw) {
    @return $pixelsVw / $baseWidth * 100vw;
}
$baseWidth2 : 375;
	@function vw2($pixelsVw) {
	@return $pixelsVw / $baseWidth2 * 100vw;
}

/* リセットCSS
===================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  color: $c-main;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q {
  &:before, &:after {
    content: "";
    content: none;
  }
}

blockquote {
  &:before, &:after {
    content: "";
    content: none;
  }
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

/* 基本設定
===================================== */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}





body {
  color: $c-main;
  font-weight: 500;
  font-family: "Noto Sans JP", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}



.tab-show{
	display: none;
	@include mq('tab-down'){
		display: block;
	}
}

.tab-hide{
	display: block;
	@include mq('tab-down'){
		display: none;
	}
}

.sp-show{
	display: none;
	@include mq('sp-down'){
		display: block;
	}
}

.sp-hide{
	display: block;
	@include mq('sp-down'){
		display: none;
	}
}

.totop{
	position: fixed;
	width: 45px;
	height: 45px;
	background-color:$red;
	border: none;
	border-radius: 99px;
	right: 70px;
	z-index: 99;
	bottom: 70px;
	opacity: 0;
	transition: all .2s;
	@include mq('tab-down'){
		right: 30px;
		bottom: 50px;
		width: 50px;
		height: 50px;
	}
	&::after{
		content: "";
		position: absolute;
		height: 2px;
		width: 15px;
		background-color:white;
		top: 20px;
		left: 10px;
		transform: rotate(-45deg);
		@include mq('tab-down'){
			width: 20px;
			left: 8px;
			top:22px;
		}
	}
	&::before{
		content: "";
		position: absolute;
		height: 2px;
		width: 15px;
		background-color: white;
		top: 20px;
		right: 10px;
		transform: rotate(45deg);
		@include mq('tab-down'){
			width: 20px;
			right: 8px;
			top:22px;
		}
	}
	&.bottomScroll{
		opacity: 1;
	}
}

#loading {
	width: 100vw;
	height: 100vh;
	transition: all 1s;
	background-color: #FAFFFF;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	img{
		position: absolute;
		max-width: 400px;
		width: 80%;
		
	}
}

@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

.spinner {
	width: 100px;
	height: 100px;
	margin: 200px auto;
	background-color:$red;
	border-radius: 100%;
	animation: sk-scaleout 1.0s infinite ease-in-out;


}

.loaded {
	opacity: 0;
	visibility: hidden;
}

main{
	overflow: hidden;
}


.red{
	color: $red;
}
.bg-red{
	background-color: $red;
}
.white{
	color: #fff;
}
.bg-white{
	background-color: #fff;
}

.mincho{
	font-family: $mincho;
}

.roboto{
	font-family: $roboto;
}

h1{
	font-size: 35px;
	letter-spacing: 0.05em;
}

h2{
	font-size: 32px;
	letter-spacing: 0.1em;
	font-weight: 500;
	@include mq('sp-down'){
		font-size: 22px;
	}
}

h3{
	font-size: 26px;
	letter-spacing: 0.1em;
	font-weight: 500;
	@include mq('sp-down'){
		font-size: 18px;
	}
}

.sub{
	font-size: 14px;
	letter-spacing: 0.05em;
	@include mq('sp-down'){
		font-size: 10px;
	}
}

.tc{
	text-align: center;
}

p{
	font-size: 16px;
}

time{
	font-size: 18px;
	font-family: $roboto2;
	@include mq('sp-down'){
		font-size: 16px;
	}
}

.button{
	font-size: 15px;
}

body{
	&.active{
		overflow-y: hidden;
	}
}

header{
	position: fixed;
	height: 70px;
	width: 100%;
	z-index: 10;
	transition: all .3s;
	top: 0;
	left: 0;
	@include mq('sp-down'){
		height: 50px;
		background-color: #fff;
	}


}
header{
	
	.header-inner{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 120px;
		@include mq('note-down'){
			padding-left: 30px;
			height: 100%;
		}
		.logo{
			transition: all .4s;

			@include mq('sp-up'){
				&:hover{
					opacity: .7;
				}
			}
		}
		.right{
			display: flex;

		}
		.ul-right{
			display: flex;
			align-items: center;
			@include mq('sp-down'){
				display: none;
			}
			li{
				width: vw(150);
				border-right: 1px solid #CBCBCB;
				a{
					display: flex;
					height: 70px;
					align-items: center;
					justify-content: center;
					background-color: #e6e6e6;
					position: relative;
					span{
						position: relative;
						z-index: 2;
						transition: all .4s;
					}
					&::after{
						content: "";
						width: 0%;
						height: 100%;
						background-color: #1a1a1a;
						left: 50%;
						position: absolute;
						transition: all .4s;
					}
					&:hover{
						&::after{
							width: 100%;
							left: 0;
						}
						span{
							color: #e6e6e6;
						}
					}
				}
			}
			.online{
				width: vw(190);
				border-right: none;
				min-width: 135px;
				a{
					background-color: $red;
					border: 1px solid $red;
					&::after{
						background-color: #fff;
					}
					span{
						color: white;
					}
					&:hover{
						span{
							color: $red;
						}
					}
				}
			}
		}
	}
	a{
		font-size: 15px;
		@include mq('tab-down'){
			font-size: 12px;
		}
	}
	.burger{
		z-index: 99;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 70px;
		background-color: #c3c1c1;
		cursor: pointer;
		transition: all .4s;
		@include mq('sp-down'){
			height: 50px;
			width: 50px;
		}
		@include mq('sp-up'){
			&:hover{
				background-color: #1a1a1a;
			}
		}

		span{
			display: block;
			width: 21px;
			height: 2px;
			background-color: #fff;
			margin-top: 3.5px;
			margin-bottom: 3.5px;
			transition: all .3s;
			@include mq('sp-down'){
				width: 16px;
				margin-top: 2px;
				margin-bottom: 2px;
			}
		}
		&.active{
			span{
				background-color: #fff;
				will-change: transform,opacity,margin-bottom;
				&:first-child{
					transform: rotate(30deg);
					margin-bottom: -14.5px;
					width: 40px;
					@include mq('sp-down'){
						width: 20px;
						transform: rotate(45deg);
						margin-bottom: -10px;
					}
				}
				&:nth-child(2){
					opacity: 0;
				}
				&:last-child{
					transform: rotate(-30deg);
					width: 40px;
					@include mq('sp-down'){
						width: 20px;
						transform: rotate(-45deg);
					}
				}
			}
		}
	}

}


.home{
	.other-logo{
		display: none;
	}
	.home-logo{
		display: block;
	}
}

body:not(.home){
	.other-logo{
		display: block;
	}
	.home-logo{
		display: none;
	}
}



.menu{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	left: 0;
	top: 0;
	opacity: 0;
	visibility: hidden;
	transition: all .4s;
	overflow: scroll;
	&.active{
		visibility: visible;
		opacity: 1;
		z-index: 11;
	}
	.menu-head{
		height: 70px;
		padding-left: 120px;
		display: flex;
		align-items: center;
		width: 100%;
		border-bottom: 1px solid #c3c1c1;
		@include mq('sp-down'){
			height: 50px;
			padding-left: 30px;
			.logo{
				img{
					width: 135px;
					height: auto;
				}
			}
		}
	}
	.menu-inner{
		padding-left: vw(120);
		padding-top: vw(70);
		display: flex;
		position: relative;
		.column{
			margin-right: vw(90);
			>li{
				margin-bottom: vw(60);
				h5{
					font-size: vw(20);
					font-weight: bold;
					
					span{
						display: inline-block;
						line-height: 1.85em;
						border-bottom: 1px solid;
						color: #444444;
						position: relative;
						&::after{
							content: "";
							width: 0%;
							height: 3px;
							background-color: $red;
							position: absolute;
							left: 50%;
							bottom: -1.5px;
							transition: all .3s;
						}
						&:hover{
							&::after{
								width: 100%;
								left: 0;
							}
						}
					}
				}
				ul{
					li{
						margin-top: vw(25);
						a{
							
							span{
								font-weight: 500;
								color: #808080;
								font-size: vw(14);
								transition: all .4s;
								position: relative;
								top: 0;
							}
							&:hover{
								span{
									color: #000000;
									top: -1px;
									text-shadow: 3px 3px 10px rgba(0,0,0,0.1);
								}
							}
						}
					}
				}
			}
		}
		.menu-right-bottom{
			position: absolute;
			right: vw(120);
			bottom: vw(15);
			.sns-wrapper{
				justify-content: flex-end;
				margin-top: 23px;
			}
			.mail-magazine{
				a{
					line-height: vw(60);
					width: vw(260);
					padding-left: vw(20);
					font-size: vw(16);
				}
			}
		}
	}
	.menu-pc{
		@include mq('sp-down'){
			display: none;
		}
	}
	.menu-sp{
		display: none;
		position: relative;
		padding-bottom: 100px;
		overflow: scroll;
		@include mq('sp-down'){
			display: block;
			height: calc(100% - 50px);
		}
		.ul-wrapper{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			>ul{
				>li{
					border-bottom: 1px solid #c3c1c1;
					>a{
						font-size: 14px;
						line-height: 40px;
						padding-left: 30px;
						
					}
				}
				.has-child{
					position: relative;
					transition: all .3s;
					&::after{
						content: "";
						width: 9px;
						height: 8px;
						right: 25px;
						top: 16px;
						position: absolute;
						background-color: #444444;
						transition: all .3s;
						clip-path: polygon(100% 0, 0 0, 50% 100%);
					}
					a{
						transition: all .3s;
					}
					&.active{
						background-color: $red;
						>a{
							color: white;
						}
						&::after{
							background-color: #fff;
						}
					}
					.child{
						display: none;
						li{
							background-color: #f5f5f5;
							border-bottom: 1px solid #c3c1c1;
							&:last-child{
								border-bottom: none;
							}
							&:first-child{
								border-top: 1px solid #c3c1c1;
							}
							a{
								line-height: 40px;
								font-size: 12px;
								padding-left: 36px;
							}
						}
					}
				}
			}

		}
		.sp-menu-bottom{
			position: fixed;
			bottom: 0;
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			a{
				width: 50%;
				line-height: 50px;
				text-align: center;
				font-size: 14px;
				color: #222222;
				border: 1px solid #cbcbcb;
				background-color: #e6e6e6;
				&:nth-child(odd){
					border-left: none;
				}
				&:nth-child(n + 3){
					border-top: none;
				}
			}
			.online{
				background-color: $red;
				color: white;
				border-color: $red;
			}
		}
	}
}


footer{
	ul{
		li{
			a{
				font-size: 16px;
			}
		}
	}
	.copyright{
		font-size: 12px;
	}
}

.section-inner .pad-sec{
	padding-left: 30px;
	padding-right: 30px;
}

main{
	@include mq('sp-down'){
		margin-top: 50px;
	}
}

.fv{
	position: relative;
	height: vw(810);
	width: 100%;
	max-height: 100vh;
	@include mq('sp-down'){
		height: vw2(666.66);
	}
	video{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		@include mq('sp-down'){
			width: auto;
			height: 100%;
		}
	}
	.section-inner{
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 2;
		@include mq('sp-down'){
			align-items: unset;
			padding-top: vw2(221);
		}
		h1{
			@include mq('wide'){
				font-size: vw(35);
			}
			-webkit-text-stroke: 0.5px #fff;
			@include mq('sp-down'){
				font-size: vw2(22);
				text-align: center;
			}
			span{
				position: relative;
				font-size: 1.6em;
				padding-left: vw(15);
				padding-right: vw(15);
				@include mq('sp-down'){
					font-size: 1.909em;
					display: inline-block;
					padding-top: vw2(20);
					padding-bottom: vw2(40);
				}
				&::after{
					content: "BEIKA";
					position: absolute;
					width: 100%;
					height: auto;
					font-size: 16px;
					left: 0;
					bottom: -28px;
					text-align: center;
					@include mq('wide'){
						font-size: vw(16);
					}
					@include mq('sp-down'){
						font-size: vw2(14);
						bottom: vw2(15);
					}
				}
			}
		}
	}

}

.banner{
	background-color: #f2f2f2;
	position: relative;
	padding-top: 100px;
	padding-bottom: 60px;
	@include mq('wide'){
		padding-top: vw(120);
		padding-bottom: vw(60);
	}
	@include mq('sp-down'){
		padding-top: 50px;
		padding-bottom: 40px;
	}
	&::before{
		content: "IWATSUKASEIKA";
		color: white;
		font-size: vw(191);
		letter-spacing: 0.05em;
		font-family: $mincho;
		left: vw(418);
		position: absolute;
		top: vw(37);
		@include mq('sp-down'){
			font-size: vw2(80);
			left: vw2(30);
			top: 30px;
			line-height: vw2(80);
		}
	}
	.section-inner{
		position: relative;
		z-index: 2;
	}
	.banner-swiper{
		padding-top: 20px;
		.swiper-slide{
			img{
				width: 100%;
			}
			transition: all .4s;
			position: relative;
			top: 0;

			@include mq('sp-up'){
				&:hover{
					top: -4px;
					box-shadow: 3px 3px 5px lightgray;
				}
			}
		}
		.swiper-pagination{
			position: static;
			padding-top: 31px;
			@include mq('sp-down'){
				padding-top: 20px;
			}
			.swiper-pagination-bullet{
				opacity: 1;
				width: 7px;
				height: 7px;
				margin: 0 6.5px;
				border: solid 1px #343434;
				background-color: #ffffff;
				@include mq('sp-down'){
					margin: 0 5px;
				}
			}
			.swiper-pagination-bullet-active{
				background-color: #343434;
			}
		}
	}
}


.product{
	padding-top: 70px;
	padding-bottom: 70px;
	position: relative;
	background-color: #fff;
	@include mq('sp-down'){
		padding-top: 90px;
		padding-bottom: 60px;
	}
	&::before{
		content: "IWATSUKASEIKA";
		color: #f2f2f2;
		font-size: vw(191);
		letter-spacing: 0.05em;
		font-family: $mincho;
		right: vw(283);
		position: absolute;
		top: vw(105);
		@include mq('sp-down'){
			top: 25px;
			right: vw2(30);
			font-size: vw2(80);
			line-height: vw2(80);
		}
	}
	.section-inner{
		position: relative;
		z-index: 2;
		.sub{
			padding-top: 10px;
			padding-bottom: 20px;
			@include mq('sp-down'){
				padding-bottom: 30px;
			}
		}
	}
	.product-swiper{
		padding-top: 100px;
		padding-bottom: 40px;
		@include mq('sp-down'){
			padding-top: 30px;
			padding-bottom: 30px;
		}
		.swiper-slide{
			img{
				width: 100%;
				transition: all .3s;
			}
			.p-ttl{
				text-align: center;
				font-size: 18px;
				line-height: 1.444em;
				padding-top: 24px;
				@include mq('sp-down'){
					font-size: 14px;
					padding-top: 16px;
				}
			}
			position: relative;
			top: 0;
			transition: all .4s;

			@include mq('sp-up'){
				&:hover{
					top: -4px;
				}
			}
		}
		.swiper-slide-active{
			img{
				transform-origin:center bottom;
				transform: scale(1.15);
			}
		}
		.swiper-pagination{
			position: static;
			padding-top: 31px;
			@include mq('sp-down'){
				padding-top: 40px;
			}
			.swiper-pagination-bullet{
				opacity: 1;
				width: 7px;
				height: 7px;
				margin: 0 6.5px;
				border: solid 1px #343434;
				background-color: #ffffff;
			}
			.swiper-pagination-bullet-active{
				background-color: #343434;
			}
		}
	}
}

.more-btn{
	display: flex;
	justify-content: center;
	a{
		line-height: 65px;
		width: 220px;
		text-align: center;
		display: block;
		border: 1px solid #e71a25;
		border-radius: 32.5px;
		padding-right: 15px;
		position: relative;
		background-color: #fff;
		overflow: hidden;
		box-sizing: border-box;
		@include mq('sp-down'){
			line-height: 50px;
			width: 230px;
			font-size: 14px;
		}
		&::after{
			content: "";
			width: 0%;
			height: 0%;
			background-color: $red;
			position: absolute;
			left: 50%;
			top: 50%;
			border-radius:99px;
			transition: width .6s,left .6s,height .2s,top .2s;
		}
		&::before{
			content: "";
			position: absolute;
			width: 9px;
			height: 9px;
			background-color: $red;
			border-radius: 50%;
			top: calc(50% - 4.5px);
			right: 28px;
			transition: all .3s;
			z-index: 2;
		}
		span{
			font-size: 15px;
			position: relative;
			z-index: 2;
			transition: all .4s;
		}
		@include mq('sp-up'){
			&:hover{
				&::after{
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
	
				}
				&::before{
					background-color: #fff;
				}
				span{
					color: white;
				}
			}
		}

	}
}

.tour{
	background-image: url(../img/top/tour-bg.webp);
	padding: 87px 120px 83px;
	position: relative;
	@include mq('note-down'){
		padding-left: 30px;
		padding-right: 30px;
	}
	@include mq('sp-down'){
		padding-top: 40px;
		padding-bottom: 50px;
	}
	&::before{
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background-color: $red;
		opacity: .9;
	}
	.section-inner{
		position: relative;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: space-between;
		>img{
			width: 41.666%;
			@include mq('sp-down'){
				display: none;
			}
		}
		.right{
			
			width: 50%;
			@include mq('note-down'){
				width: auto;
				padding-left: 20px;
			}
			@include mq('sp-down'){
				padding-left: 0;
				img{
					width: 100%;
				}
			}
			h2{
				@include mq('sp-down'){
					text-align: center;
					line-height: 32px;
				}
			}
			.sub{
				padding-top: 10px;
				padding-bottom: 50px;
				@include mq('sp-down'){
					text-align: center;
					padding-bottom: 40px;
				}
			}
			.txt{
				font-size: 16px;
				line-height: 2.125em;
				padding-bottom: 50px;
				@include mq('sp-down'){
					padding-top: 30px;
					font-size: 14px;
					line-height: 2em;
				}
			}
			.more-btn{
				justify-content: flex-end;
				@include mq('sp-down'){
					justify-content: center;
				}
				a{
					transition: all .4s;
					top: 0;
					span{
						transition: all .4s;
					}
					&::after{
						display:none;
					}
					@include mq('sp-up'){
						&:hover{
							top: -3px;
							box-shadow: 3px 3px 5px black;
							span{
								color: black;
							}
							&::before{
								background-color: $red;
							}
						}
					}

				}
			}
		}
	}
}

.about{
	padding-left: 120px;
	padding-top: 120px;
	padding-bottom: 95.5px;
	@include mq('note-down'){
		padding-left: 30px;
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.section-inner{
		.swiper{
			.swiper-wrapper{
				.swiper-slide{
					width: vw(360);
					height: vw(520);
					position: relative;
					overflow: hidden;
					@include mq('sp-down'){
						width: vw2(260);
						height: vw2(330);
					}
					img{
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						object-fit: cover;
						transition: all .4s;
						&.scale{
							transform: scale(1.1);
						}
					}
					&::before{
						content: "";
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						background-color: #000000;
						opacity: .3;
						z-index: 1;
					}
					.dot-link{
						position: absolute;
						z-index: 2;
						right: 50px;
						bottom: 60px;
						@include mq('tab-down'){
							right: vw(50);
							bottom: vw(60);
						}
						@include mq('sp-down'){
							right: 16px;
							bottom: 16px;
						}
					}
					.swiper-inner{
						position: relative;
						z-index: 2;
						padding-top: vw(214);
						padding-left: 50px;
						@include mq('sp-down'){
							padding-top: vw2(145);
							padding-left: 15px;
						}
						p{
							padding-top: 10px;
						}
					}
				}
			}

			.swiper-control{
				margin-top: 35px;
				padding-right: 120px;
				display: flex;
				justify-content: space-between;
				align-content: center;
				@include mq('sp-down'){
					margin-top: 30px;
					padding-right: 30px;
				}
				.swiper-scrollbar{
					position: static;
					width: 100%;
					height: 1px;
					background-color: #b9b9b9;
					.swiper-scrollbar-drag{
						background-color: $red;
					}
				}
				.scroll-wrapper{
					width: calc(100% - 220px);
					display: flex;
					align-items: center;
					@include mq('sp-down'){
						width: calc(100% - 115px);
					}
				}
				.prev-next-wrapper{
					display: flex;
					.swiper-button-prev{
						position: static;
						margin-right: 20px;
						@include mq('sp-down'){
							margin-right: 15px;
						}
					}
					.swiper-button-next{
						position: static;

					}
					.swiper-button{
						margin-top: unset;
						width: 70px;
						height: 70px;
						border: 1px solid #b9b9b9;
						border-radius: 50%;
						background-color: #fff;
						@include mq('sp-down'){
							width: 40px;
							height: 40px;
						}
						&::after{
							display: none;
						}
					}
				}
			}
		}
	}
}

.dot-link{
	width: 55px;
	height: 55px;
	background-color: #fff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	@include mq('sp-down'){
		width: 30px;
		height: 30px;
	}
	span{
		display: block;
		width: 9px;
		height: 9px;
		border-radius: 50%;
		background-color: $red;
		transition: all .3s;
		@include mq('sp-down'){
			width: 6px;
			height: 6px;
		}
	}
}


.dot-link{
	&:hover{
		span{
			transform: scale(1.5);
		}
	}
}

.news{
	padding-left: 120px;
	padding-right: 120px;
	padding-bottom: 120px;
	@include mq('note-down'){
		padding-left: 30px;
		padding-right: 30px;
	}
	@include mq('sp-down'){
		padding-bottom: 88px;
	}
	.section-inner{
		.flex{
			display: flex;
			width: 100%;
			@include mq('sp-down'){
				flex-direction: column;
			}
			.left{
				padding-right: 80px;
				padding-top: 24.5px;
				@include mq('tab-down'){
					padding-right: 30px;
				}
				@include mq('sp-down'){
					padding-right: 0;
					padding-top: 0;
				}
				.ttl-wrapper{
					padding-bottom: 90px;
					@include mq('sp-down'){
						padding-bottom: 40.5px;
						h2,p{
							text-align: center;
						}
					}
					p{
						padding-top: 10px;
					}
				}
				.more-btn{
					a{
						line-height: 60px;
					}
					@include mq('sp-down'){
						display: none;
					}
				}
			}

			.right{
				width: calc(100% - 300px);
				@include mq('tab-down'){
					width: calc(100% - 250px);
				}
				@include mq('sp-down'){
					width: 100%;
				}
				.more-btn{
					@include mq('sp-up'){
						display: none;
					}
				}
				ul{
					@include mq('sp-down'){
						margin-bottom: 50px;
					}
					li{
						border-bottom: 1px solid #e8e8e8;
						a{
							display: flex;
							align-items: center;
							padding-top: 24.5px;
							padding-bottom: 24.5px;
							transition: all .3s;

							@include mq('sp-up'){
								&:hover{
									background-color: rgba(0,0,0,.05);
								}
							}
							@include mq('sp-down'){
								flex-wrap: wrap;
								padding-bottom: 14.5px;
								padding-top: 14.5px;
							}
							time{
								margin-right: 30px;
								color: #b9b9b9;
								letter-spacing: 0.05em;
								font-weight: normal;
								width: 90px;
								@include mq('sp-down'){
									width: 80px;
									margin-right: 20px;
									margin-bottom: 10px;
								}
							}
							.category-wrapper{
								width: 184px;
								display: flex;
								@include mq('tab-down'){
									width: 130px;
								}
								@include mq('sp-down'){
									width: auto;
									margin-bottom: 10px;
								}
								.category{
									padding-left: 5px;
									padding-right: 5px;
									min-width: 104px;
									line-height: 1.92em;
									font-size: 13px;
									text-align: center;
									font-weight: normal;
									border-radius: 99px;
									border: 1px solid $red;
									@include mq('sp-down'){
										min-width: 86px;
										font-size: 12px;
										line-height: 1.66em;
									}
								}
							}
							.ttl{
								font-weight: normal;
								width: calc(100% - 304px);
								@include mq('tab-down'){
									width: calc(100% - 250px);
								}
								@include mq('sp-down'){
									width: 100%;
								}
								span{
									line-height: 1.4em;
									@include mq('sp-down'){
										font-size: 14px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.mail-magazine{
	a{
		display: block;
		width: 260px;
		line-height: 60px;
		background-color: $red;
		padding-left: 20px;
		font-weight: normal;
		position: relative;
		border: 1px solid $red;
		@include mq('tab-down'){
			font-size: 14px;
		}
		&::before{
			content: "";
			position: absolute;
			width: 9px;
			height: 9px;
			background-color: white;
			border-radius: 50%;
			top: calc(50% - 4.5px);
			right: 28px;
			transition: all 0.3s;
			z-index: 2;
			transition: all .3s;
		}
		span{
			color: white;
			z-index: 2;
			transition: all .3s;
			position: relative;
		}
		&::after{
			content: "";
			position: absolute;
			top: 0%;
			left: 50%;
			width: 0%;
			height: 100%;
			background-color: #fff;
			transition: all 0.4s ease 0s;
			z-index: 1;
		}
		@include mq('sp-up'){
			&:hover{
				&::before{
					background-color: $red;
				}
				&::after{
					width: 100%;
					left: 0;
				}
				span{
					color: $red;
					font-weight: 500;
				}
			}
		}

	}
}

.sns-wrapper{
	display: flex;
	align-items: center;
	a{
		margin-right: 30px;
		transition: all .3s;
		&:last-child{
			margin-right: 0;
		}

		@include mq('sp-up'){
			&:hover{
				opacity: .7;
			}
		}
	}
}

footer{
	background-color: #272727;
	padding-top: 77px;
	@include mq('sp-down'){
		padding-top: 46px;
	}
	p,a{
		color: white;
	}
	.footer-inner{
		padding-left: 120px;
		padding-bottom: 50px;
		padding-right: 260px;
		display: flex;
		justify-content: space-between;
		@include mq('note-down'){
			padding-left: 30px;
			padding-right: 30px;
		}
		@include mq('sp-down'){
			flex-direction: column;
			padding-bottom: 39.5px;
		}
		.left{
			@include mq('sp-down'){
				display: flex;
				flex-direction: column;
				align-items: center;
				.sns-wrapper{
					display: none;
				}
			}
			.logo{
				transition: all .3s;
				img{
					width: 260px;
					height: auto;
					@include mq('sp-down'){
						width: vw2(226);
					}
				}

				@include mq('sp-up'){
					&:hover{
						opacity: .7;
					}
				}
			}
			.mail-magazine{
				margin-top: 50px;
				margin-bottom: 25px;
				@include mq('sp-down'){
					margin-top: 22px;
					margin-bottom: 40px;
					a{
						line-height: vw2(44);
						padding-left: vw2(15);
						width: vw2(216);
						font-size: vw2(14);
						&::before{
							width: 8px;
							height: 8px;
							right: vw2(15);
							top: calc(50% - 4px);
						}
					}
				}
			}

		}
		.right{
			display: flex;
			@include mq('sp-down'){
				flex-direction: column;
			}
			ul{
				&:first-child{
					margin-right: 80px;
					@include mq('tab-down'){
						margin-right: 20px;
					}
				}
				&:nth-child(2){
					margin-right:60px;
					@include mq('tab-down'){
						margin-right: 20px;
					}
				}
				@include mq('sp-down'){
					margin-right: 0!important;
					&:first-child{
						li{
							&:first-child{
								border-top: 1px solid #444444;
							}
						}
					}
				}
				li{
					margin-bottom: 35px;
					@include mq('sp-down'){
						border-bottom: 1px solid #444444;
						margin-bottom: unset;

					}
					a{
						position: relative;
						@include mq('tab-down'){
							font-size: 13px;
							line-height: 19px;
							color: #c4c4c4;
						}
						@include mq('sp-down'){
							padding-bottom: 14.5px;
							padding-top: 14.5px;
							display: block;
						}
						&::after{
							content: "";
							position: absolute;
							width: 0%;
							height: 1px;
							bottom: -4px;
							left: 50%;
							background-color: #fff;
							transition: all .4s;
						}

						@include mq('sp-up'){
							&:hover{
								&::after{
									width: 100%;
									left: 0;
								}
							}
						}
					}
				}
			}
		}
	}
	.copyright{
		text-align: center;
		padding-bottom: 30px;
		@include mq('sp-down'){
			padding-bottom: 20px;
		}
		.sns-wrapper{
			justify-content: center;
			margin-bottom: 20px;
			@include mq('sp-up'){
				display: none;
			}
		}
		p{
			font-size: 12px;
		}
	}
}

// 商品紹介

.product-archive{
	margin-top: 70px;
	@include mq('sp-down'){
		margin-top: 50px;
	}
}

.breadcrumb{
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	padding-left: 120px;
	padding-top: 12.5px;
	padding-bottom: 12.5px;
	@include mq('note-down'){
		padding-left: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	ul{
		display: flex;
		li{
			margin-right: 30px;
			position: relative;

			&::after{
				content: "＞";
				color: #707070;
				font-size: 14px;
				position: absolute;
				right: -22px;
				top: 2px;
				@include mq('sp-down'){
					font-size: 12px;
					top: 3.5px;
				}
			}
			&:last-child{
				margin-right: 0;
				&::after{
					display: none;
				}
			}
			a,span{
				color: #707070;
				font-size: 14px;
				@include mq('sp-down'){
					font-size: 12px;
				}
			}
		}
	}
}

.kaso-ttl{
	padding-top: 60px;
	padding-bottom: 60px;
	padding-left: 120px;
	h1{
		font-size: 34px;
		font-weight: normal;
		color: #444444;
		@include mq('note-down'){
			font-size: 22px;
		}
	}
	@include mq('note-down'){
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 30px;
	}
}

.kaso-fv{
	background-image: url(../img/products/product-fv.webp);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: vw(300);
	display: flex;
	align-items: center;
	justify-content: center;
	@include mq('sp-down'){
		height: vw2(300);
	}
	h2{
		font-size: 30px;
		color: white;
		font-weight: 500;
		position: relative;
		z-index: 2;
		@include mq('sp-down'){
			font-size: 22px;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	position: relative;
	&::after{
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background-color: rgba(0,0,0,.4);
	}
}

.product-archive{
	overflow: visible;
	section:not(.products-section){
		overflow: hidden;
	}
}

.products-section{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 110px;
	padding-bottom: 50px;
	@include mq('tab-down'){
		padding-top: 40px;
	}
	.section-inner{
		max-width: vw(1200);
		margin: auto;
		display: flex;
		@include mq('note-down'){
			max-width: unset;
			width: 100%;
		}
		@include mq('sp-down'){
			flex-direction: column;
		}

		.sticky-wrapper{
			@include mq('sp-down'){

			}
		}

		.left{
			width: 220px;
			padding: 30px 28px;
			padding-top: 10px;
			background-color: #fff;
			border-radius: 5px;
			box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.06);
			position: sticky;
			top: 60px;
			@include mq('wide'){
				width: vw(220);
				
			}
			@include mq('sp-down'){
				position: static;
				width: 100%;
				padding-left: 15px;
				padding-right: 15px;
				padding-bottom: 20px;
			}
			ul{
				@include mq('sp-down'){
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
				}
				li{
					border-bottom: 1px solid #e8e8e8;
					@include mq('sp-down'){
						width: 48%;
						
					}
					a{
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding-bottom: 20px;
						padding-top: 20px;
						font-weight: normal;
						font-size: 15px;
						transition: all .3s;
						img{
							margin-left: 20px;
						}
						position: relative;
						&::before{
							content: "";
							width: 13px;
							height: 1px;
							background-color: $red;
							position: absolute;
							left: 0;
							bottom: -1px;
							transition: all .3s;
						}
						&:hover{
							background-color: rgba(0,0,0,0.03);
							&::before{
								width: 30px;
								height: 1.5px;
							}
						}
						@include mq('sp-down'){
							font-size: 12px;
							img{
								transform: rotate(90deg);
								margin-left: 0;
							}
						}
					}
				}
			}
		}
		.right{
			width: 980px;
			width: calc(100% - 220px);
			padding-left: 40px;
			@include mq('wide'){
				width: vw(980);
			}
			@include mq('sp-down'){
				width: 100%;
				padding-left: 0;
				padding-top: 30px;
			}
			h3{
				font-size: 30px;
				padding-left: 20px;
				position: relative;
				letter-spacing: 0;
				line-height: 44px;
				@include mq('sp-down'){
					font-size: 22px;
					padding-left: 10px;
					margin-bottom: 20px;
				}
				&::before{
					content: "";
					width: 3px;
					height: 18px;
					background-color: $red;
					position: absolute;
					left: 0;
					top: 14px;
				}
				margin-bottom: 30px;
			}
			.flex{
				display: flex;
				justify-content: flex-start;
				flex-wrap: wrap;
				.img-wrapper{
					display: flex;
					align-items: center;
					justify-content: center;
					height: vw(200);
					img{
						width: 100%;
					}
					@include mq('sp-down'){
						height: vw2(200);
						img{
							height: 100%;
							object-fit: contain;
						}
					}
				}
				.p-ttl{
					font-size: 16px;
					line-height: 1.4375em;
					text-align: center;
					padding-top: 20px;
					transition: all .4s;
					@include mq('sp-down'){
						font-size: 12px;
					}
				}
				.card{
					position: relative;
					top: 0;
					transition: all .4s;
					margin-bottom: 30px;
					&:hover{
						top: -3px;
						.p-ttl{
							text-shadow:1px 1px 5px lightgray;
						}
					}
				}
			}
			.type-wrapper{
				
				border-bottom: 1px solid #e8e8e8;
			}
			.pickup{
				.card{
					width: 19.15%;
					margin-right: 7.8%;
					@include mq('sp-down'){
						width: 48%;
						margin-right: 4%;
						&:nth-child(2n){
							margin-right: 0;
						}
					}
					.img-wrapper{
						padding-left: vw(20);
						padding-right: vw(20);
						@include mq('sp-down'){
							padding-left: vw2(10);
							padding-right: vw2(10);
						}
					}
					&:nth-child(4n){
						margin-right: 0;
					}
					
				}
			}

			.assort{
				padding-top: 30px;
				@include mq('sp-down'){
					padding-top: 20px;
				}
				.card{
					width: 20.2%;
					margin-right: 6.4%;
					@include mq('sp-down'){
						width: 48%;
						margin-right: 4%;
						&:nth-child(2n){
							margin-right: 0;
						}
					}
					.img-wrapper{
						padding-left: 0;
						padding-right: 0;
						height: vw(140);
						@include mq('sp-down'){
							height: vw2(140);
							padding-left: vw2(10);
							padding-right: vw2(10);
						}
					}
				}
			}

			.normal{
				padding-top: 30px;
				@include mq('sp-down'){
					padding-top: 20px;
				}
				.card{
					width: 15.95%;
					margin-right: 5.0625%;
					@include mq('sp-down'){
						width: 48%;
						margin-right: 4%;
						&:nth-child(2n){
							margin-right: 0;
						}
					}
					.img-wrapper{
						padding-left: vw(14);
						padding-right: vw(14);
						@include mq('sp-down'){
							padding-left: vw2(10);
							padding-right: vw2(10);

						}
					}
					@include mq('sp-up'){
						&:nth-child(5n){
							margin-right: 0;
						}
					}

				}
			}
		}
	}


	.sec2{
		padding: vw(56) vw(80) vw(50) vw(70);
		border-radius: 20px;
		box-shadow: 0 0 15px 0 rgba(118, 118, 118, 0.16);
		display: flex;
		align-items: center;
		max-width: vw(1200);
		margin: auto;
		margin-top: 80px;
		position: relative;
		transition: all .3s;
		top: 0;
		@include mq('sp-down'){
			margin-top: 50px;
			flex-direction: column;
			padding: 20px 10px;
			border-radius: 10px;
		}
		.left{
			display: flex;
			align-items: center;
			.net1{
				width: vw(188);
				margin-right: vw(10);
				@include mq('sp-down'){
					width: vw2(94);
					margin-right: vw2(10);
				}
			}
			.net2{
				width: vw(148);
				margin-right: vw(10);
				@include mq('sp-down'){
					width: vw2(74);
					margin-right: vw2(10);
				}
			}
			.net3{
				width: vw(175);
				@include mq('sp-down'){
					width: vw2(87.5);
					margin-right: vw2(10);
				}
			}
		}
		.right{
			padding-left: vw(50);
			display: flex;
			align-items: flex-end;
			@include mq('sp-down'){
				padding-left: 0;
				position: relative;
			}
			h2{
				font-size: vw(30);
				color: #444444;
				margin-bottom: 5px;
				letter-spacing: 0.04em;
				line-height: 1.4666em;
				@include mq('sp-down'){
					font-size: vw2(20);
					text-align: center;
				}
			}
			p{
				font-size: vw(16);
				letter-spacing: 0.04em;
				line-height: 1.5em;
				@include mq('sp-down'){
					font-size: vw2(12);
					text-align: center;
				}
			}
			.arrow{
				margin-left: vw(30);
				width: vw(62);
				height: vw(62);
				border: 1px solid #444444;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: all .6s;
				img{
					width: vw(17.3);
					height: auto;
				}
				@include mq('sp-down'){
					display: none;
				}
			}
		}
		&:hover{
			top: -3px;
			.arrow{
				transform: rotate(360deg);
			}
		}
	}
}

.red-banner{
	padding: vw(70) vw(120);
	background-image: url(../img/products/red-area-bg.webp);
	background-size: cover;
	position: relative;
	&::after{
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: $red;
		left: 0;
		top: 0;
		opacity: .85;
	}
	.section-inner{
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: space-between;
		@include mq('sp-down'){
			flex-direction: column;
			align-items: center;
		}
		.card{
			height: vw(190);
			width: calc(33.33% - vw(50));
			position: relative;
			display: flex;
			align-items: center;
			top: 0;
			transition: all .3s;
			@include mq('sp-down'){
				width: 100%;
				height: vw2(190);
				margin-bottom: vw2(20);
				&:last-child{
					margin-bottom: 0;
				}
			}
			&::after{
				content: "";
				width: 100%;
				height: 100%;
				background-color: #444444;
				opacity: .5;
				position: absolute;
				left: 0;
				top: 0;
			}
			>img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
				position: absolute;
				left: 0;
				top: 0;
			}
			.card-inner{
				position: relative;
				z-index: 2;
				padding-left: vw(33);
				padding-right: vw(33);
				display: flex;
				align-items: center;
				width: 100%;
				justify-content: space-between;
				h3{
					font-size: vw(22);
					color: white;
				}
				.arrow{
					width: vw(40);
					height: vw(40);
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					border: 1px solid white;
					transition: all .6s;
					img{
						width: vw(11.2);
						height: auto;
					}
				}
				@include mq('sp-down'){
					padding-left: vw2(20);
					padding-right: vw2(20);
					h3{
						font-size: vw2(20);
					}
					.arrow{
						width: vw2(40);
						height: vw2(40);
						img{
							width: vw2(11.2);
						}
					}
				}
			}
			&:hover{
				top: -3px;
				.arrow{
					transform: rotate(360deg);
				}
			}
		}
	}

}


.product-detail{

	padding-top: 80px;
	padding-bottom: 140px;
	@include mq('tab-down'){
		padding-top: 40px;
		padding-bottom: 50px;
	}
	@include mq('sp-down'){
		padding-left: 30px;
		padding-right: 30px;
	}
	.section-inner{
		max-width: vw(1200);
		margin: auto;
		@include mq('sp-down'){
			max-width: unset;
		}
		h2{
			font-weight: bold;
			color: #171717;
			margin-bottom: vw(40);
			letter-spacing: 0;
			@include mq('sp-down'){
				margin-bottom: vw2(10);
			}
		}
		th,td{
			font-size: vw(16);
			@include mq('tab-down'){
				font-size: 12px;
			}
		}
		.top,.bottom{
			display: flex;
			@include mq('sp-down'){
				flex-direction: column;
			}
			h4{
				position: relative;
				padding-left: vw(20);
				font-size: vw(20);
				letter-spacing: 0.05em;
				margin-bottom: vw(40);
				@include mq('tab-down'){
					font-size: 16px;
					padding-left: 10px;
					margin-bottom: 20px;
				}
				&::before{
					content: "";
					width: vw(5);
					height: vw(18);
					background-color: $red;
					top: vw(1);
					left: 0;
					position: absolute;
					@include mq('tab-down'){
						width: 5px;
						height: 14px;
						top: 2px;
					}
				}
			}
		}
		.top{
			align-items: center;
		}
		.bottom{
			align-items: flex-start;
			padding-top: vw(60);
			@include mq('sp-down'){
				padding-top: 40px;
				.right{
					margin-top: 40px;
				}
			}
		}
		.left{
			width: 42%;
			@include mq('sp-down'){
				width: 100%;
			}
			.img-wrapper{
				margin-left: vw(35);
				width: vw(380);
				height: vw(400);
				display: flex;
				align-items: center;
				justify-content: center;
				padding-top: vw(14);
				padding-bottom: vw(8);
				img{
					max-width: 100%;
					max-height: 100%;
				}
				@include mq('sp-down'){
					width: 100%;
					height: vw2(300);
					margin-left: 0;
				}
			}
			.seibun{

				.seibun-table{
					width: 100%;
					max-width: vw(380);
					@include mq('sp-down'){
						max-width: 100%;
					}
					tr{
						border-bottom: 1px solid #d8d8d8;
						border-top: 1px solid #d8d8d8;
					}
					th{
						background-color: #f2f2f2;
						text-align: center;
						font-weight: 500;
						padding-top: vw(15);
						padding-bottom: vw(15);
						width: vw(150);
						@include mq('sp-down'){
							width: vw2(100);
							text-align: center;
							padding-top: 10px;
							padding-bottom: 10px;
							line-height: 1.75em;
						}
					}
					td{
						text-align: right;
						padding-left: vw(10);
						padding-right: vw(10);
						@include mq('sp-down'){
							padding-left: 10px;
							padding-right: 0px;
						}
						&:nth-child(2){
							border-right: 1px dotted #d8d8d8;
							@include mq('sp-down'){
								padding-right: 10px;
							}

						}
					}
				}
			}
		}
		.right{
			width: 58%;
			@include mq('sp-down'){
				width: 100%;
				margin-top: 20px;
			}
			.table-wrapper{
				padding-left: vw(50);
				@include mq('sp-down'){
					padding-left: 0;
				}
				tr{
					border-top: 1px solid #d8d8d8;
					border-bottom: 1px solid #d8d8d8;
				}
				td{
					padding-top: vw(15);
					padding-bottom: vw(15);
					padding-left: vw(25);
					vertical-align: baseline;
					line-height: 1.75em;
					@include mq('sp-down'){
						padding-top: 10px;
						padding-bottom: 10px;
						padding-left: 15px;
					}
				}
				th{
					width: vw(150);
					background-color: #f2f2f2;
					padding-left: vw(28);
					font-weight: 500;
					@include mq('sp-down'){
						width: vw2(100);
						text-align: center;
						padding-left: 0;
					}
				}
			}
			.table-wrapper2{
				padding-top: vw(24);
				margin-bottom: vw(30);
				@include mq('sp-down'){
					margin-top: 20px;
					padding-top: 0;
					margin-bottom: 20px;
				}
				.allergy-table{
					width: 100%;
					
				}
				tr{
					border-top: 1px solid #d8d8d8;
					border-bottom: 1px solid #d8d8d8;
				}
				td{
					padding-top: vw(15);
					padding-bottom: vw(15);
					padding-left: vw(25);
					line-height: 1.75em;
				}
				th{
					width: 50%;
					background-color: #f2f2f2;
					padding-left: vw(28);
					font-weight: 500;
					padding-top: vw(15);
					padding-bottom: vw(15);
					line-height: 1.75em;
				}
			}
			.notice-ttl,.notice2{
				font-size: vw(16);
				font-weight: normal;
				line-height: 1.75em;
				@include mq('tab-down'){
					font-size: 12px;
				}
			}
		}
	}
}