@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* リセットCSS
===================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  color: #1a1a1a;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

/* 基本設定
===================================== */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #1a1a1a;
  font-weight: 500;
  font-family: "Noto Sans JP", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.tab-show {
  display: none;
}
@media (max-width: 1024px) {
  .tab-show {
    display: block;
  }
}

.tab-hide {
  display: block;
}
@media (max-width: 1024px) {
  .tab-hide {
    display: none;
  }
}

.sp-show {
  display: none;
}
@media (max-width: 767px) {
  .sp-show {
    display: block;
  }
}

.sp-hide {
  display: block;
}
@media (max-width: 767px) {
  .sp-hide {
    display: none;
  }
}

.totop {
  position: fixed;
  width: 45px;
  height: 45px;
  background-image: linear-gradient(to left, #3a1c71 0%, #ffaf7b 100%);
  border: none;
  border-radius: 99px;
  right: 70px;
  z-index: 99;
  bottom: 70px;
  opacity: 0;
  transition: all 0.2s;
}
@media (max-width: 1024px) {
  .totop {
    right: 30px;
    bottom: 50px;
    width: 50px;
    height: 50px;
  }
}
.totop::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 15px;
  background-color: white;
  top: 20px;
  left: 9.5px;
  transform: rotate(-45deg);
}
@media (max-width: 1024px) {
  .totop::after {
    width: 20px;
    left: 8px;
    top: 22px;
  }
}
.totop::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 15px;
  background-color: white;
  top: 20px;
  right: 9.5px;
  transform: rotate(45deg);
}
@media (max-width: 1024px) {
  .totop::before {
    width: 20px;
    right: 8px;
    top: 22px;
  }
}
.totop.bottomScroll {
  opacity: 1;
}

#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #FAFFFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#loading img {
  position: absolute;
  max-width: 400px;
  width: 80%;
}
@media (max-width: 1024px) {
  #loading img {
    top: 30vh;
  }
}

@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-image: linear-gradient(to left, #3a1c71 0%, #ffaf7b 100%);
  border-radius: 100%;
  animation: sk-scaleout 1s infinite ease-in-out;
}
@media (max-width: 1024px) {
  .spinner {
    position: relative;
    top: -10vh;
  }
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

main {
  overflow: hidden;
}

.red {
  color: #e71a25;
}

.bg-red {
  background-color: #e71a25;
}

.white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.mincho {
  font-family: "fot-tsukuaoldmin-pr6n";
}

.roboto {
  font-family: "Roboto";
}

h1 {
  font-size: 35px;
  letter-spacing: 0.05em;
}

h2 {
  font-size: 32px;
  letter-spacing: 0.1em;
  font-weight: 500;
}

h3 {
  font-size: 26px;
  letter-spacing: 0.1em;
  font-weight: 500;
}

.sub {
  font-size: 14px;
  letter-spacing: 0.05em;
}

p {
  font-size: 16px;
}

time {
  font-size: 18px;
}

.button {
  font-size: 15px;
}

header {
  position: fixed;
  height: 70px;
  width: 100%;
  z-index: 10;
  transition: all 0.3s;
}
header.bottomScroll .burger span {
  background-color: #1a1a1a;
}
header .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 120px;
}
header .header-inner .right {
  display: flex;
}
header .header-inner ul {
  display: flex;
  align-items: center;
}
header .header-inner ul li {
  width: 10.4166666667vw;
  border-right: 1px solid #CBCBCB;
}
header .header-inner ul li a {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
  background-color: #e6e6e6;
}
header .header-inner ul .online {
  width: 13.1944444444vw;
  border-right: none;
}
header .header-inner ul .online a {
  background-color: #e71a25;
  color: white;
}
header a {
  font-size: 15px;
}
header .burger {
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70px;
  background-color: #c3c1c1;
}
header .burger span {
  display: block;
  width: 21px;
  height: 2px;
  background-color: #fff;
  margin-top: 3.5px;
  margin-bottom: 3.5px;
  transition: all 0.3s;
}
header .burger.active span {
  background-color: #fff;
  will-change: transform, opacity, margin-bottom;
}
header .burger.active span:first-child {
  transform: rotate(45deg);
  margin-bottom: -14.5px;
}
header .burger.active span:nth-child(2) {
  opacity: 0;
}
header .burger.active span:last-child {
  transform: rotate(-45deg);
}

.banner {
  background-color: #f2f2f2;
}

footer ul li a {
  font-size: 16px;
}
footer .copyright {
  font-size: 12px;
}

.section-inner .pad-sec {
  padding-left: 30px;
  padding-right: 30px;
}

.fv {
  position: relative;
  height: 56.25vw;
  width: 100%;
}
.fv video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.fv .section-inner {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
.fv .section-inner h1 {
  -webkit-text-stroke: 0.5px #fff;
}
@media (min-width: 1440px) {
  .fv .section-inner h1 {
    font-size: 2.4305555556vw;
  }
}
.fv .section-inner h1 span {
  position: relative;
  font-size: 1.6em;
  padding-left: 1.0416666667vw;
  padding-right: 1.0416666667vw;
}
.fv .section-inner h1 span::after {
  content: "BEIKA";
  position: absolute;
  width: 100%;
  height: auto;
  font-size: 16px;
  left: 0;
  bottom: -28px;
  text-align: center;
}
@media (min-width: 1440px) {
  .fv .section-inner h1 span::after {
    font-size: 1.1111111111vw;
  }
}

.banner {
  background-color: #f2f2f2;
  position: relative;
  padding-top: 120px;
  padding-bottom: 60px;
}
@media (min-width: 1440px) {
  .banner {
    padding-top: 8.3333333333vw;
    padding-bottom: 4.1666666667vw;
  }
}
.banner::before {
  content: "IWATSUKASEIKA";
  color: white;
  font-size: 13.2638888889vw;
  letter-spacing: 0.05em;
  font-family: "fot-tsukuaoldmin-pr6n";
  left: 29.0277777778vw;
  position: absolute;
  top: 2.5694444444vw;
}
.banner .section-inner {
  position: relative;
  z-index: 2;
}
.banner .banner-swiper .swiper-slide img {
  width: 100%;
}
.banner .banner-swiper .swiper-pagination {
  position: static;
  padding-top: 31px;
}
.banner .banner-swiper .swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  width: 7px;
  height: 7px;
  margin: 0 6.5px;
  border: solid 1px #343434;
  background-color: #ffffff;
}
.banner .banner-swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #343434;
}